body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Encode Sans";
}

#container {
  display: flex;
  width: 1250px;

}

.nav-limiter {
  height: 2px;
  width: 1250px;
  background-color: #ebedef;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 171px;
  height: 36px;
  margin-top: 13px;
  margin-bottom: 13px;
}

header nav {
  width: 1250px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

header nav a {
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
}

#headline {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#headline h1 {
  font-size: 52px;
  font-weight: bold;
  color: #C4160C;
  line-height: 70px;
}

#headline p {
  font-size: 18px;
  color: #303134;
  line-height: 34px;
}

#first-row {
  display: flex;
  justify-content: space-between;
}

#first-row div {
  display: flex;
  flex-direction: column;
  width: 193px;
  gap: 10px;

}

#first-row img {
  border-radius: 12px;
  width: 193px;
  height: 110px;
}

#first-row span,
#second-row span {
  color: #C4170C;
  font-size: 14px;
}

#first-row p,
#second-row p {
  font-size: 14px;
  color: #2f3134;

}

#first-row h1,
#second-row h1 {
  font-weight: bold;
  font-size: 20px;
}

.limiter {
  background-color: #ebedef;
  width: 100%;
  height: 2px;
  margin: 20px 0;
}

#second-row {
  display: flex;

}

#second-row div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

#leftcolumn {
  width: 50%;
}

#rightcolumn {
  background-color: pink;
}